/*reset*/
html{
    margin: 0;
    padding: 0;
    width: 100%;
}
a{
    text-decoration: none;
}
body{
    font: 62.5% sans;
    color: #000;
    background-color: #eee;
    margin: 0;
}
ul{
    list-style-type: none;
}

/* Header */
header{
    margin: 0;
    border-bottom: 0.5em solid #333;
}
.htmlLogo{
    float: left;
    margin: 0rem 1rem;
    width: 150px;
    height: 80px;
}
/* Navigation */
nav{
    background-color: #000;
    width: inherit;
    height: 5rem;
    margin: 0;
    font-size: 1rem;
}

nav ul{
    float:left;
    margin: 2.5rem 0rem 0rem 0rem;
    height: auto;
    width: auto;
}
nav li{
    float:left;
    height: 2.5rem;
    width: auto;
}
a{
    display: block;
    line-height: 1.5em;
    padding: 0.5em;
    width: auto;
    color: #fff;
}
a:hover{
    background-color: #222;
}

/* Main Content */

.banner{
    position: relative;
    width: 60rem;
    height: 3.3rem;
    margin: 0;
    background-color: #297;
}
h1{
    color: #fff;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
    margin: 0;
}
.wrapper{
    width: 60rem;
    height: 50rem;
    margin: auto;
    padding: 0;
    background-color: #eee;
}
.mainContent{
    width: 60rem;
    height: 46rem;
    margin: auto;
    background-color: #fff;
    box-shadow: 0em 0em 3em 0em #999;
}
#indexFrontImg{
    width: inherit;
    height: 20rem;
    margin: 0;
}
article{
    font-size: 0.8rem;
    width: 57rem;
    height: auto;
    margin: 0.1rem 1.5rem;
    padding: 0rem;
    padding-top: 1rem;
}
article h3{

}

/* Footer */

footer{
    background-color: #000;
    height: 15rem;
}
.topFooter{
    background-color: #fff;
    height: 6rem;
    margin-top: 1rem;
}
.footerNav a{
    display: block;
    width: 6rem;
    padding: 0.5rem;
    color: #111;
    text-align: center;
}
.footerNav li{
    float: left;
    width: 7rem;
}
.footerNav{
    width: 35rem;
    height: 2rem;
    margin: 0rem auto;
    padding: 0;
}
.footernav a:hover{
    background: #fff;
    color: #297;
}
.bottomFooter{
    clear: both;
    text-align: center;
    font-size: 0.8rem;
    width: 50rem;
    margin: 0 auto;
    color: #fff;
}
.moto{
    font-size: 1rem;
    color: #297;
}
.moto:hover{
    color: #999;
}

/* Project One: Sign In Form */
#signInTable{
    margin: auto;
}
#signInTable, tr,td{
    border: 1.5px solid #999;
    border-collapse: collapse;
    font-size: 0.8rem;
}
#signInTable td{
    width: auto;
}
.numberInputS{
    width: 1.5rem;
}
.numberInputM{
    width: 3.5rem;
}
.signInColLeft{
    text-align: right;
}
#signInTable tfoot{
    text-align: center;
    background-color: #297;
}

/*  Project Two: Student Info */
#studentInfoTable{
    margin: auto;
    margin-top: 5rem;
}
#studentInfoTable, tr, td, th{
    border: 1.5px solid #999;
    border-collapse: collapse;
}
#studentInfoTable th{
    text-align: center;
}
#studentInfoTable a{
    display: inline;
    text-decoration: underline;
    color: #00f;
}

/*  Project Three: Laptops */

#laptopNav{
    height: 2rem;
    width: 24rem;
    margin: auto;
}
hr{
    clear: both;
}
#laptopNav {
    
}
#laptopNav a{
    float:left;
    color: #999;
}
#laptopNav a:hover{
    color: #297;
    background-color: #fff;
}

#laptopTable{
    float: left;
    border: 1.5px solid #999;
    margin: 1rem 7rem;
}
#laptopTable td{
    border: none;
}
.laptopImg{
    float:left;
    width: 6rem;
    height: 7rem
}
.laptopImg img{
    width: 6rem;
    height: 5rem;
}
.laptopInfo{
    float: left;
    height: 7rem;
}
.laptopInfo p{
    margin-bottom: 1.53rem;
}
#slides{
    float: left;
    margin-left: 1rem;
    margin-top: 6rem;
}

/* Project Four: Grid */
#gridTable{
    margin: auto;
}
#gridTable thead, tfoot{
    background-color: #ddd;
}
#gridTable, thead, td, th, tr{
    border: 1px solid #999;
    border-collapse: collapse;
}
#gridTable td, th{
    width: auto;
}
#productID{
    width: 2rem;
}
#unitPrice{
    width: 5rem;
}
#quantity{
    width: 6rem;
}
#stock{
    width: 5rem;
}
#filterRow{
    
}
#filterRow td input{
   height: 1rem;
}

